@page "/components/animated-image"

<PageTitle>Animated Image</PageTitle>

<h1>Animated Image</h1>
<p><code>&lt;wa-animated-image&gt;</code> wrapped by <code>WaAnimatedImage</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaAnimatedImage />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\animated-image.md) *@

<ApiTable Tag="wa-animated-image" />

@code {
    private const string DefaultExample = "<WaAnimatedImage />";
}