@page "/components/avatar"

<PageTitle>Avatar</PageTitle>

<h1>Avatar</h1>
<p><code>&lt;wa-avatar&gt;</code> wrapped by <code>WaAvatar</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaAvatar />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\avatar.md) *@

<ApiTable Tag="wa-avatar" />

@code {
    private const string DefaultExample = "<WaAvatar />";
}