@page "/components/bar-chart"

<PageTitle>Bar Chart</PageTitle>

<h1>Bar Chart</h1>
<p><code>&lt;wa-bar-chart&gt;</code> wrapped by <code>WaBarChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaBarChart>WaBarChart example</WaBarChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\bar-chart.md) *@

<ApiTable Tag="wa-bar-chart" />

@code {
    private const string DefaultExample = "<WaBarChart>WaBarChart example</WaBarChart>";
}