@page "/components/breadcrumb"

<PageTitle>Breadcrumb</PageTitle>

<h1>Breadcrumb</h1>
<p><code>&lt;wa-breadcrumb&gt;</code> wrapped by <code>WaBreadcrumb</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaBreadcrumb />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\breadcrumb.md) *@

<ApiTable Tag="wa-breadcrumb" />

@code {
    private const string DefaultExample = "<WaBreadcrumb />";
}