@page "/components/bubble-chart"

<PageTitle>Bubble Chart</PageTitle>

<h1>Bubble Chart</h1>
<p><code>&lt;wa-bubble-chart&gt;</code> wrapped by <code>WaBubbleChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaBubbleChart>WaBubbleChart example</WaBubbleChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\bubble-chart.md) *@

<ApiTable Tag="wa-bubble-chart" />

@code {
    private const string DefaultExample = "<WaBubbleChart>WaBubbleChart example</WaBubbleChart>";
}