@page "/components/chart"

<PageTitle>Chart</PageTitle>

<h1>Chart</h1>
<p><code>&lt;wa-chart&gt;</code> wrapped by <code>WaChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaChart>WaChart example</WaChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\chart.md) *@

<ApiTable Tag="wa-chart" />

@code {
    private const string DefaultExample = "<WaChart>WaChart example</WaChart>";
}