@page "/components/copy-button"

<PageTitle>Copy Button</PageTitle>

<h1>Copy Button <ComponentBadges Tag="wa-copy-button" /></h1>
<p><code>&lt;wa-copy-button&gt;</code> wrapped by <code>WaCopyButton</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaCopyButton />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\copy-button.md) *@

<ApiTable Tag="wa-copy-button" />

@code {
    private const string DefaultExample = "<WaCopyButton />";
}