@page "/components/divider"

<PageTitle>Divider</PageTitle>

<h1>Divider</h1>
<p><code>&lt;wa-divider&gt;</code> wrapped by <code>WaDivider</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaDivider />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\divider.md) *@

<ApiTable Tag="wa-divider" />

@code {
    private const string DefaultExample = "<WaDivider />";
}