@page "/components/doughnut-chart"

<PageTitle>Doughnut Chart</PageTitle>

<h1>Doughnut Chart</h1>
<p><code>&lt;wa-doughnut-chart&gt;</code> wrapped by <code>WaDoughnutChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaDoughnutChart>WaDoughnutChart example</WaDoughnutChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\doughnut-chart.md) *@

<ApiTable Tag="wa-doughnut-chart" />

@code {
    private const string DefaultExample = "<WaDoughnutChart>WaDoughnutChart example</WaDoughnutChart>";
}