@page "/components/dropdown-item"

<PageTitle>Dropdown Item</PageTitle>

<h1>Dropdown Item <ComponentBadges Tag="wa-dropdown-item" /></h1>
<p><code>&lt;wa-dropdown-item&gt;</code> wrapped by <code>WaDropdownItem</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaDropdown>
        <TriggerContent>
            <WaButton WithCaret="true">Dropdown</WaButton>
        </TriggerContent>
        <ChildContent>
            <WaDropdownItem>Option 1</WaDropdownItem>
            <WaDropdownItem>Option 2</WaDropdownItem>
            <WaDropdownItem>Option 3</WaDropdownItem>
        </ChildContent>
    </WaDropdown>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\dropdown-item.md) *@

<ApiTable Tag="wa-dropdown-item" />

@code {
    private const string DefaultExample = """
        <WaDropdown>
            <TriggerContent>
                <WaButton WithCaret="true">Dropdown</WaButton>
            </TriggerContent>
            <ChildContent>
                <WaDropdownItem>Option 1</WaDropdownItem>
                <WaDropdownItem>Option 2</WaDropdownItem>
                <WaDropdownItem>Option 3</WaDropdownItem>
            </ChildContent>
        </WaDropdown>
        """;
}