@page "/components/dropdown-item"

<PageTitle>Dropdown Item</PageTitle>

<h1>Dropdown Item</h1>
<p><code>&lt;wa-dropdown-item&gt;</code> wrapped by <code>WaDropdownItem</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaDropdownItem />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\dropdown-item.md) *@

<ApiTable Tag="wa-dropdown-item" />

@code {
    private const string DefaultExample = "<WaDropdownItem />";
}