@page "/components/file-input"

<PageTitle>File Input</PageTitle>

<h1>File Input</h1>
<p><code>&lt;wa-file-input&gt;</code> wrapped by <code>WaFileInput</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaFileInput />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\file-input.md) *@

<ApiTable Tag="wa-file-input" />

@code {
    private const string DefaultExample = "<WaFileInput />";
}