@page "/components/format-date"

<PageTitle>Format Date</PageTitle>

<h1>Format Date</h1>
<p><code>&lt;wa-format-date&gt;</code> wrapped by <code>WaFormatDate</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaFormatDate />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\format-date.md) *@

<ApiTable Tag="wa-format-date" />

@code {
    private const string DefaultExample = "<WaFormatDate />";
}