@page "/components/format-number"

<PageTitle>Format Number</PageTitle>

<h1>Format Number</h1>
<p><code>&lt;wa-format-number&gt;</code> wrapped by <code>WaFormatNumber</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaFormatNumber />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\format-number.md) *@

<ApiTable Tag="wa-format-number" />

@code {
    private const string DefaultExample = "<WaFormatNumber />";
}