@page "/components/format-bytes"

<PageTitle>Format Bytes</PageTitle>

<h1>Format Bytes</h1>
<p><code>&lt;wa-format-bytes&gt;</code> wrapped by <code>WaFormatBytes</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaFormatBytes />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\format-bytes.md) *@

<ApiTable Tag="wa-format-bytes" />

@code {
    private const string DefaultExample = "<WaFormatBytes />";
}