@page "/components/include"

<PageTitle>Include</PageTitle>

<h1>Include</h1>
<p><code>&lt;wa-include&gt;</code> wrapped by <code>WaInclude</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaInclude />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\include.md) *@

<ApiTable Tag="wa-include" />

@code {
    private const string DefaultExample = "<WaInclude />";
}