@page "/components/intersection-observer"

<PageTitle>Intersection Observer</PageTitle>

<h1>Intersection Observer</h1>
<p><code>&lt;wa-intersection-observer&gt;</code> wrapped by <code>WaIntersectionObserver</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaIntersectionObserver />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\intersection-observer.md) *@

<ApiTable Tag="wa-intersection-observer" />

@code {
    private const string DefaultExample = "<WaIntersectionObserver />";
}