@page "/components/line-chart"

<PageTitle>Line Chart</PageTitle>

<h1>Line Chart</h1>
<p><code>&lt;wa-line-chart&gt;</code> wrapped by <code>WaLineChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaLineChart>WaLineChart example</WaLineChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\line-chart.md) *@

<ApiTable Tag="wa-line-chart" />

@code {
    private const string DefaultExample = "<WaLineChart>WaLineChart example</WaLineChart>";
}