@page "/components/markdown"

<PageTitle>Markdown</PageTitle>

<h1>Markdown</h1>
<p><code>&lt;wa-markdown&gt;</code> wrapped by <code>WaMarkdown</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaMarkdown />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\markdown.md) *@

<ApiTable Tag="wa-markdown" />

@code {
    private const string DefaultExample = "<WaMarkdown />";
}