@page "/components/mutation-observer"

<PageTitle>Mutation Observer</PageTitle>

<h1>Mutation Observer</h1>
<p><code>&lt;wa-mutation-observer&gt;</code> wrapped by <code>WaMutationObserver</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaMutationObserver />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\mutation-observer.md) *@

<ApiTable Tag="wa-mutation-observer" />

@code {
    private const string DefaultExample = "<WaMutationObserver />";
}