@page "/components/option"

<PageTitle>Option</PageTitle>

<h1>Option</h1>
<p><code>&lt;wa-option&gt;</code> wrapped by <code>WaOption</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaOption />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\option.md) *@

<ApiTable Tag="wa-option" />

@code {
    private const string DefaultExample = "<WaOption />";
}