@page "/components/pie-chart"

<PageTitle>Pie Chart</PageTitle>

<h1>Pie Chart</h1>
<p><code>&lt;wa-pie-chart&gt;</code> wrapped by <code>WaPieChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaPieChart>WaPieChart example</WaPieChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\pie-chart.md) *@

<ApiTable Tag="wa-pie-chart" />

@code {
    private const string DefaultExample = "<WaPieChart>WaPieChart example</WaPieChart>";
}