@page "/components/polar-area-chart"

<PageTitle>Polar Area Chart</PageTitle>

<h1>Polar Area Chart</h1>
<p><code>&lt;wa-polar-area-chart&gt;</code> wrapped by <code>WaPolarAreaChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaPolarAreaChart>WaPolarAreaChart example</WaPolarAreaChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\polar-area-chart.md) *@

<ApiTable Tag="wa-polar-area-chart" />

@code {
    private const string DefaultExample = "<WaPolarAreaChart>WaPolarAreaChart example</WaPolarAreaChart>";
}