@page "/components/popover"

<PageTitle>Popover</PageTitle>

<h1>Popover</h1>
<p><code>&lt;wa-popover&gt;</code> wrapped by <code>WaPopover</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaPopover />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\popover.md) *@

<ApiTable Tag="wa-popover" />

@code {
    private const string DefaultExample = "<WaPopover />";
}