@page "/components/popup"

<PageTitle>Popup</PageTitle>

<h1>Popup</h1>
<p><code>&lt;wa-popup&gt;</code> wrapped by <code>WaPopup</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaPopup />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\popup.md) *@

<ApiTable Tag="wa-popup" />

@code {
    private const string DefaultExample = "<WaPopup />";
}