@page "/components/progress-ring"

<PageTitle>Progress Ring</PageTitle>

<h1>Progress Ring</h1>
<p><code>&lt;wa-progress-ring&gt;</code> wrapped by <code>WaProgressRing</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaProgressRing />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\progress-ring.md) *@

<ApiTable Tag="wa-progress-ring" />

@code {
    private const string DefaultExample = "<WaProgressRing />";
}