@page "/components/progress-bar"

<PageTitle>Progress Bar</PageTitle>

<h1>Progress Bar</h1>
<p><code>&lt;wa-progress-bar&gt;</code> wrapped by <code>WaProgressBar</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaProgressBar />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\progress-bar.md) *@

<ApiTable Tag="wa-progress-bar" />

@code {
    private const string DefaultExample = "<WaProgressBar />";
}