@page "/components/qr-code"

<PageTitle>Qr Code</PageTitle>

<h1>Qr Code</h1>
<p><code>&lt;wa-qr-code&gt;</code> wrapped by <code>WaQrCode</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaQrCode />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\qr-code.md) *@

<ApiTable Tag="wa-qr-code" />

@code {
    private const string DefaultExample = "<WaQrCode />";
}