@page "/components/radar-chart"

<PageTitle>Radar Chart</PageTitle>

<h1>Radar Chart</h1>
<p><code>&lt;wa-radar-chart&gt;</code> wrapped by <code>WaRadarChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaRadarChart>WaRadarChart example</WaRadarChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\radar-chart.md) *@

<ApiTable Tag="wa-radar-chart" />

@code {
    private const string DefaultExample = "<WaRadarChart>WaRadarChart example</WaRadarChart>";
}