@page "/components/radio"

<PageTitle>Radio</PageTitle>

<h1>Radio</h1>
<p><code>&lt;wa-radio&gt;</code> wrapped by <code>WaRadio</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaRadio />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\radio.md) *@

<ApiTable Tag="wa-radio" />

@code {
    private const string DefaultExample = "<WaRadio />";
}