@page "/components/rating"

<PageTitle>Rating</PageTitle>

<h1>Rating</h1>
<p><code>&lt;wa-rating&gt;</code> wrapped by <code>WaRating</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaRating @bind-Value="value" />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\rating.md) *@

<ApiTable Tag="wa-rating" />

@code {
    private decimal value = 3;

    private const string DefaultExample = """
        <WaRating @bind-Value="value" />

        @code {
            private decimal value = 3;
        }
        """;
}