@page "/components/relative-time"

<PageTitle>Relative Time</PageTitle>

<h1>Relative Time</h1>
<p><code>&lt;wa-relative-time&gt;</code> wrapped by <code>WaRelativeTime</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaRelativeTime />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\relative-time.md) *@

<ApiTable Tag="wa-relative-time" />

@code {
    private const string DefaultExample = "<WaRelativeTime />";
}