@page "/components/resize-observer"

<PageTitle>Resize Observer</PageTitle>

<h1>Resize Observer</h1>
<p><code>&lt;wa-resize-observer&gt;</code> wrapped by <code>WaResizeObserver</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaResizeObserver />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\resize-observer.md) *@

<ApiTable Tag="wa-resize-observer" />

@code {
    private const string DefaultExample = "<WaResizeObserver />";
}