@page "/components/scatter-chart"

<PageTitle>Scatter Chart</PageTitle>

<h1>Scatter Chart</h1>
<p><code>&lt;wa-scatter-chart&gt;</code> wrapped by <code>WaScatterChart</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaScatterChart>WaScatterChart example</WaScatterChart>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\scatter-chart.md) *@

<ApiTable Tag="wa-scatter-chart" />

@code {
    private const string DefaultExample = "<WaScatterChart>WaScatterChart example</WaScatterChart>";
}