@page "/components/skeleton"

<PageTitle>Skeleton</PageTitle>

<h1>Skeleton</h1>
<p><code>&lt;wa-skeleton&gt;</code> wrapped by <code>WaSkeleton</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSkeleton />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\skeleton.md) *@

<ApiTable Tag="wa-skeleton" />

@code {
    private const string DefaultExample = "<WaSkeleton />";
}