@page "/components/slider"

<PageTitle>Slider</PageTitle>

<h1>Slider</h1>
<p><code>&lt;wa-slider&gt;</code> wrapped by <code>WaSlider</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSlider />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\slider.md) *@

<ApiTable Tag="wa-slider" />

@code {
    private const string DefaultExample = "<WaSlider />";
}