@page "/components/sparkline"

<PageTitle>Sparkline</PageTitle>

<h1>Sparkline</h1>
<p><code>&lt;wa-sparkline&gt;</code> wrapped by <code>WaSparkline</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSparkline />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\sparkline.md) *@

<ApiTable Tag="wa-sparkline" />

@code {
    private const string DefaultExample = "<WaSparkline />";
}