@page "/components/spinner"

<PageTitle>Spinner</PageTitle>

<h1>Spinner</h1>
<p><code>&lt;wa-spinner&gt;</code> wrapped by <code>WaSpinner</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSpinner />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\spinner.md) *@

<ApiTable Tag="wa-spinner" />

@code {
    private const string DefaultExample = "<WaSpinner />";
}