@page "/components/split-panel"

<PageTitle>Split Panel</PageTitle>

<h1>Split Panel</h1>
<p><code>&lt;wa-split-panel&gt;</code> wrapped by <code>WaSplitPanel</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSplitPanel />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\split-panel.md) *@

<ApiTable Tag="wa-split-panel" />

@code {
    private const string DefaultExample = "<WaSplitPanel />";
}