@page "/components/switch"

<PageTitle>Switch</PageTitle>

<h1>Switch</h1>
<p><code>&lt;wa-switch&gt;</code> wrapped by <code>WaSwitch</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaSwitch />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\switch.md) *@

<ApiTable Tag="wa-switch" />

@code {
    private const string DefaultExample = "<WaSwitch />";
}