@page "/components/tab-panel"

<PageTitle>Tab Panel</PageTitle>

<h1>Tab Panel</h1>
<p><code>&lt;wa-tab-panel&gt;</code> wrapped by <code>WaTabPanel</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaTabPanel />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\tab-panel.md) *@

<ApiTable Tag="wa-tab-panel" />

@code {
    private const string DefaultExample = "<WaTabPanel />";
}