@page "/components/tab"

<PageTitle>Tab</PageTitle>

<h1>Tab</h1>
<p><code>&lt;wa-tab&gt;</code> wrapped by <code>WaTab</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaTab />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\tab.md) *@

<ApiTable Tag="wa-tab" />

@code {
    private const string DefaultExample = "<WaTab />";
}