@page "/components/textarea"

<PageTitle>Textarea</PageTitle>

<h1>Textarea</h1>
<p><code>&lt;wa-textarea&gt;</code> wrapped by <code>WaTextarea</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaTextArea />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\textarea.md) *@

<ApiTable Tag="wa-textarea" />

@code {
    private const string DefaultExample = "<WaTextArea />";
}
