@page "/components/toast"

<PageTitle>Toast</PageTitle>

<h1>Toast</h1>
<p><code>&lt;wa-toast&gt;</code> wrapped by <code>WaToast</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaToast>WaToast example</WaToast>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\toast.md) *@

<ApiTable Tag="wa-toast" />

@code {
    private const string DefaultExample = "<WaToast>WaToast example</WaToast>";
}