@page "/components/toast-item"

<PageTitle>Toast Item</PageTitle>

<h1>Toast Item</h1>
<p><code>&lt;wa-toast-item&gt;</code> wrapped by <code>WaToastItem</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaToastItem>WaToastItem example</WaToastItem>
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\toast-item.md) *@

<ApiTable Tag="wa-toast-item" />

@code {
    private const string DefaultExample = "<WaToastItem>WaToastItem example</WaToastItem>";
}