@page "/components/zoomable-frame"

<PageTitle>Zoomable Frame</PageTitle>

<h1>Zoomable Frame</h1>
<p><code>&lt;wa-zoomable-frame&gt;</code> wrapped by <code>WaZoomableFrame</code>.</p>

<ExampleSection Title="Default" Code="@DefaultExample">
    <WaZoomableFrame />
</ExampleSection>

@* TODO: curated examples - translate from the Web Awesome docs (inputs\WebAwesome\components\zoomable-frame.md) *@

<ApiTable Tag="wa-zoomable-frame" />

@code {
    private const string DefaultExample = "<WaZoomableFrame />";
}